Repository lookmumnohandlebars/SoapOnAScope, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, taskfile, husky, github config, test, lib, benchmarks

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file:
          - README.md
          - docs/**
          - sandbox/**

taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - Taskfile.yml
          - "**/Taskfile.yml"
          - "**/Taskfile.*.yml"

husky:
  - changed-files:
      - any-glob-to-any-file:
          - .husky/**

github config:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**

test:
  - changed-files:
      - any-glob-to-any-file:
          - src/test/**

lib:
  - changed-files:
      - any-glob-to-any-file:
          - src/lib/**

benchmarks:
  - changed-files:
      - any-glob-to-any-file:
          - src/benchmarks/**

# Matches the 'release-please' PR pattern for releases
release:
  - head-branch: "release*"
  - base-branch: "main"

fix: use correct file path for composite action
  .github/actions/setup/action.yml
Labels: github config

fix: GHA pass PAT by inputs
  .github/actions/setup/action.yml
  .github/workflows/pull-request.main.yml
  .github/workflows/push.main.yml
Labels: github config

refactor: pipelines and taskfiles
  .config/Taskfile.fmt.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/issue_template.md
  .github/actions/security/action.yml
  .github/workflows/pull-request.main.yml
  .github/workflows/pull-request.target.yml
  .github/workflows/push.main.yml
  .husky/task-runner.json
  Taskfile.yml
  src/Directory.Build.props
  src/Taskfile.ci.yml
  src/Taskfile.local.yml
  src/benchmarks/SoapOnAScope.Benchmarks/Sanitizer.Benchmarks.cs
  src/lib/SoapOnAScope.Web/SoapOnAScope.Web.csproj
  src/lib/SoapOnAScope/Reflection/Attributes/AutoSanitizeAttribute.cs
  src/lib/SoapOnAScope/Reflection/Attributes/SanitizationAttributeResult.cs
  src/lib/SoapOnAScope/Reflection/Attributes/SanitizeAttribute.cs
  src/lib/SoapOnAScope/Reflection/Extensions/PropertyInfoExtensions.cs
  src/lib/SoapOnAScope/Sanitization/Actions/HtmlEncodeSanitizationAction.cs
  src/lib/SoapOnAScope/Sanitization/Actions/JavascriptEncodeSanitizationAction.cs
  src/lib/SoapOnAScope/Sanitization/Actions/TrimSanitizationAction.cs
  src/lib/SoapOnAScope/Sanitization/Actions/UrlEncodeSanitizationAction.cs
  src/lib/SoapOnAScope/Sanitization/ByType/ClassSanitizer.cs
  src/lib/SoapOnAScope/Sanitization/ByType/EnumerableSanitizer.cs
  src/lib/SoapOnAScope/Sanitization/ByType/UnknownSanitizer.cs
  src/lib/SoapOnAScope/Sanitization/Sanitizer.cs
  src/lib/SoapOnAScope/SoapOnAScope.csproj
  src/test/SoapOnAScope.ArchitectureTests/SdkArchitectureTests.cs
  src/test/SoapOnAScope.ArchitectureTests/Snapshots/SdkRegressionTests.Methods_on_public_classes_should.verified.txt
  src/test/SoapOnAScope.ArchitectureTests/Snapshots/SdkRegressionTests.Public_classes_should_not_unintentionally_regress.verified.txt
  src/test/SoapOnAScope.UnitTests/Reflection/SanitizeAttribute.Tests.cs
  src/test/SoapOnAScope.UnitTests/Sanitization/Actions/HtmlEncodeSanitizationAction.Tests.cs
  src/test/SoapOnAScope.UnitTests/Sanitization/Actions/TrimSanitizationAction.Tests.cs
  src/test/SoapOnAScope.UnitTests/Sanitization/Actions/UrlEncodeSanitizationAction.Tests.cs
  src/test/SoapOnAScope.UnitTests/Sanitization/Sanitizer.Class.Tests.cs
  src/test/SoapOnAScope.UnitTests/Sanitization/Sanitizer.StringRef.Tests.cs
  src/test/SoapOnAScope.Web.IntegrationTests/EndpointTests.cs
Labels: taskfile, husky, github config, test, lib, benchmarks

fix: use csx commit lint
  .config/Taskfile.fmt.yml
  .husky/custom-scripts/commit-lint.csx
  .husky/task-runner.json
Labels: taskfile, husky

fix: correct husky call for commit-msg
  .config/Taskfile.fmt.yml
  .husky/commit-msg
Labels: taskfile, husky

fix: auto-update changed files on pre-commit hooks
  .husky/custom-scripts/commit-lint.csx
  .husky/post-checkout
Labels: husky

refactor: auto format in husky hooks
  .husky/custom-scripts/commit-lint.csx
  .husky/task-runner.json
Labels: husky

fix: codecov
  .github/workflows/push.main.yml
Labels: github config

chore: only run longer hook tasks if src folder modified
  .husky/task-runner.json
Labels: husky
